<footer>
    <div class="container">
    <span class="footer-logo">R-SEC</span>
    <p>
        &copy; 2026 R-SEC 東京理科大学 宇宙工学サークル. All Rights Reserved.
    </p>
    </div>
</footer>
<style lang="scss">
    footer {
        padding: 60px 0;
        text-align: center;
        border-top: 1px solid rgba(white, 0.05);
        color: $gray-mid;
        font-size: 0.9rem;
      }

      .footer-logo {
        font-family: $font-en;
        font-weight: 700;
        color: $white-faint;
        margin-bottom: 16px;
        display: block;
      }
</style>